apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: smart-billing-pvc
  namespace: smart-billing
  labels:
    app: smart-billing
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
